
  
  .container {
    position: relative;
    left: 20vw;
    top: 8vh;
    background-color: #fff;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    padding: 20px;
    width: 60vw;
    max-width :500px; ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 70vh;
    place-items: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 85%;
    display: block;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #45a049;
    transform: scale(1.1);
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }
  
  .button:hover {
    animation: bounce 0.5s;
  }